{% extends 'base.html' %}


{% block title %} 
School Management System
{% endblock title %}


{% block body%} {% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<div class= 'container' my=20 style= "width:80">
    <div id="left-area">


			
        <article id="post-37" class="post-37 page type-page status-publish hentry">

        
            <h1 class="entry-title main_title" style="margin:50px">Vision, Mission &amp; Anthem</h1>
        
        
            <div class="entry-content">
            <p><strong>Vision</strong></p>
<p>True to the vision of St. Magdalene, Canossian Educators, have a passion to ensure that : 
    human beings enjoy their dignity of being children of God.</p>
<p><strong>Mission</strong></p>
<p>Integral formation by our approach of moral, intellectual, physical and social formation of the individual 
    child irrespective of religion,caste, race, language and social status.</p>
<p><strong>Apostolic Mission</strong></p>
<ul>
<li>Faith formation and holistic quality education, especially committed to the marginalized, vulnerable and
     challenged</li>
<li>Empowerment of women, including our Staff and Sisters</li>
<li>Consistent effort to safeguard and promote the integrity of creation</li>
<li>Enlightened social responsibility to transform our world into a welfare society with equal opportunity, justice,
     security and peace for all</li>
<li>Encouraging and mentoring lay leaders and encouraging critical, ethical, co-operative and creative thinking</li>
<li>Regularly evaluating our effort with our significant stakeholders for its relevance and effectivity</li>
</ul>
<p><b>School Anthem</b></p>
<p>We assemble here today<br>
With voices loud and gay,<br>
To praise our Lord and King<br>
For the blessings that He Brings</p>
<p>True Canossians here we stand<br>
In our cherished motherland<br>
To work and strive and see<br>
Good citizens are we</p>
<p>To spread joy and happiness<br>
And knowledge too, should be our quest<br>
So Canossians, join in harmony,<br>
With love and care in our fraternity.</p>
<p>Glory to God, Creator and King<br>
Our Motherland too, all praises we sing<br>
So that these loves all our hearts unite<br>
Truth and Wisdom may in us abide.[/vc_column_text][/vc_column][vc_column width=”1/2″][vc_column_text]</p>
<p align="justify"><strong>Our Logo</strong></p>
<p align="justify">The twelve stars in our logo represent Mary – Crowning Glory of God’s creation – 
    who glorified God through her Life.</p>
<p align="justify">The letters A.D. in the logo signify Jesus Christ, the foundation of our Institute. M.D.
     stands for Mater Dolorosa – Mother of Sorrows – who is the dear Patroness of our Canossian Sisters of Charity</p>
            </div>

        
        </article>

    

    </div>

    <div id="left-area">


			
        <article id="post-1201" class="post-1201 page type-page status-publish hentry">

        
            <h1 class="entry-title main_title">Who we are</h1>
        
        
            <div class="entry-content">
            <p>“The School is the harvest that costs the most,<br>
but yields more fruit, for the conduct<br>
of one’s whole life depends on<br>
the Education one has received.”<br>
–St Magdalene of Canossa</p>
<p align="justify">ABC School, situated in Mahim, Mumbai is a Catholic school for girls, 
    established and administered by the Canossian Daughters of Charity.</p>
<p align="justify">The school was started in 1932 as a primary school, annexed to the Parish of Our Lady of Victories.
     It was recognized as a High School in 1946 and is under the jurisdiction of the Archbishop of Mumbai.</p>
<p align="justify">The school stands for&nbsp;academic excellence, development of skills and character formation 
    based on the love of God and service to all people. We proritize all-round development of our students and
     inculcating commitment to God and Country, empowering them to be women of integrity.</p>
<p align="justify">ABC School aims primarily at the education of the Catholic community and the preservation
     of Catholic faith and religious practices. Preference in admission to the School will be given to Catholic
      children. Admission, however, is open to children of other communities without distinction of caste or creed.</p>
<p align="justify">In the words of our Foundress,&nbsp;St Magdalene, “Love is like a forest fire that sets 
    everything ablaze.” We, at Canossa, that life is built on the power of love and strive to stoke the flames 
    of love lit by St Magdalene. With the help of Jesus, our perfect teacher, we pray that our school be an agent
     of social change which will bring justice, harmony and peace, and teach our students to walk the path of truth.</p>
<p align="left"><a href="#" data-slb-group="1201" data-slb-active="1" data-slb-internal="0"> 
    {% load static %}<img loading="lazy" class="alignleft size-full wp-image-1202" 
    src="{% static 'F:/yogita/IT certi/django python/my/static/images/about us 2.jpg' %}"
     alt="studentcircle" width="561" height="426">{% load static %}</a></p>
<p align="justify">Our community also includes:<br>
Night High School: So as to provide education for older girls who could not attend day school, 
the Night School was opened in 1959.</p>
<p>Dev Kripa Mandal: Social Welfare Centre. Seeing that the poor were numerous and desiring to help them, 
    Dev Kripa Mandal was opened in 1965, as a center to provde social assistance, 
    employment and health care for women and study classes for backward and poor children.</p>
<p>Special School: for the mentally challenged was opened in 1967.</p>
<p>Primary School: Because of overcrowding of students in Canossa High School, a building was put up in Pitamber Lane
     and the Primary School and Special School were shifted to Canossa Annexe in 1976.</p>
<p>Kindergarten: caters to little girls, ensuring they are initiated into the art of mixing with other children,
     as well as learning the three R’s.</p>
<h2>Management Staff</h2>
<p><a href="#"> {% load static %} <img loading="lazy" class="alignleft size-full wp-image-1394" 
    src="{% static 'F:/yogita/IT certi/django python/my/static/images/about us 3.jpg' %}" 
    alt="Management" width="800" height="576"> {% load static %} </a></p>
            </div>        
        </article>
    </div>
</div>

    {% comment %} #########################---FOOTER---######################### {% endcomment %}
    <footer class="et-l et-l--footer" STYLE="width:1350px; background:#495057">
        <div class="et_builder_inner_content et_pb_gutters3" >
    <div class="et_pb_section et_pb_section_0_tb_footer et_pb_with_background et_section_regular" >
            
            <div class="et_pb_row et_pb_row_0_tb_footer">
            <div class="et_pb_column et_pb_column_1_3 et_pb_column_0_tb_footer  
            et_pb_css_mix_blend_mode_passthrough">
            
            <div class="et_pb_module et_pb_sidebar_0_tb_footer et_pb_widget_area clearfix 
            et_pb_widget_area_left et_pb_bg_layout_light">
            
            <div id="nav_menu-2" class="fwidget et_pb_widget widget_nav_menu">
                <h4 class="title" STYLE="margin: 0px 400px 20px 100px">Pages</h4><div class="menu-footer-menu-container"><ul id="menu-footer-menu-1" 
                    class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home 
                    menu-item-675" STYLE="margin: 0px 400px 20px 100px" ><a href="/home">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-676" STYLE="margin: 0px 400px 20px 100px">
    <a href="/AboutUs">About Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-677" STYLE="margin: 0px 400px 20px 100px">
    <a href="/AboutUs">Vision, Mission &amp; Anthem</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2084" STYLE="margin: 0px 400px 20px 100px">
    <a href="/ContactUs">Contact Us</a></li>
</ul></div></div>
        </div>
        </div><div class="et_pb_column et_pb_column_1_3 et_pb_column_1_tb_footer 
         et_pb_css_mix_blend_mode_passthrough">
            
            <div class="et_pb_module et_pb_sidebar_1_tb_footer 
            et_pb_widget_area clearfix et_pb_widget_area_left et_pb_bg_layout_light">
            
        </div>
        </div><div class="et_pb_column et_pb_column_1_3 et_pb_column_2_tb_footer 
         et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty">
            
        </div>
        </div>
        </div><div class="et_pb_section et_pb_section_1_tb_footer et_pb_with_background et_section_regular">
            
            <div class="et_pb_row et_pb_row_1_tb_footer" >
            <div class="et_pb_column et_pb_column_4_4 et_pb_column_3_tb_footer  et_pb_css_mix_blend_mode_passthrough
             et-last-child">
            
            <div class="et_pb_module et_pb_text et_pb_text_0_tb_footer et_clickable 
             et_pb_text_align_left et_pb_bg_layout_light">
            <div class="my-0" my=0 style="background:black; margin: 0px 0px 0px 0px">Copyright @2021.All Rights Reserved. Powered by UniApply – 
                A product of NoPaperForms solutions Pvt. Ltd.</div>
        </div>
        </div>
        </div>
        </div>	
    </div>
</footer>

<style id="et-builder-module-design-tb-26037-deferred-1201-cached-inline-styles">
    .et_pb_section_0_tb_footer.et_pb_section{padding-top:9px;padding-bottom:0px;background-color:#424242!important}
    .et_pb_sidebar_0_tb_footer.et_pb_widget_area h3:first-of-type,.et_pb_sidebar_0_tb_footer.et_pb_widget_area 
    h4:first-of-type,.et_pb_sidebar_0_tb_footer.et_pb_widget_area h5:first-of-type,.et_pb_sidebar_0_tb_footer
    .et_pb_widget_area h6:first-of-type,.et_pb_sidebar_0_tb_footer.et_pb_widget_area h2:first-of-type,
    .et_pb_sidebar_0_tb_footer.et_pb_widget_area h1:first-of-type,.et_pb_sidebar_0_tb_footer.et_pb_widget_area 
    .widget-title,.et_pb_sidebar_0_tb_footer.et_pb_widget_area .widgettitle,
    .et_pb_sidebar_1_tb_footer.et_pb_widget_area h3:first-of-type,.et_pb_sidebar_1_tb_footer
    .et_pb_widget_area h4:first-of-type,.et_pb_sidebar_1_tb_footer.et_pb_widget_area h5:first-of-type,
    .et_pb_sidebar_1_tb_footer.et_pb_widget_area h6:first-of-type,.et_pb_sidebar_1_tb_footer
    .et_pb_widget_area h2:first-of-type,.et_pb_sidebar_1_tb_footer.et_pb_widget_area h1:first-of-type,
    .et_pb_sidebar_1_tb_footer.et_pb_widget_area .widget-title,.et_pb_sidebar_1_tb_footer.et_pb_widget_area
     .widgettitle{color:#0C71C3!important}.et_pb_sidebar_0_tb_footer.et_pb_widget_area,.et_pb_sidebar_0_tb_footer
     .et_pb_widget_area li,.et_pb_sidebar_0_tb_footer.et_pb_widget_area li:before,.et_pb_sidebar_0_tb_footer
     .et_pb_widget_area a,.et_pb_sidebar_1_tb_footer.et_pb_widget_area,
     .et_pb_sidebar_1_tb_footer.et_pb_widget_area li,.et_pb_sidebar_1_tb_footer.et_pb_widget_area li:before,
     .et_pb_sidebar_1_tb_footer.et_pb_widget_area a,.et_pb_text_0_tb_footer.et_pb_text,.et_pb_text_0_tb_footer
     .et_pb_text a{color:#FFFFFF!important}.et_pb_section_1_tb_footer.et_pb_section{padding-top:0px;padding-bottom:
        0px;background-color:#000000!important}.et_pb_row_1_tb_footer.et_pb_row{padding-top:13px!important;padding-
            bottom:15px!important;padding-top:13px;padding-bottom:15px}</style>




            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script> {% load static %}
{% endblock body%}



