{% extends 'base.html' %}


{% block title %} 
Contact us
{% endblock title %}


{% block body%} 
<div class="container" STYLE="margin: 55px 0px 0px 80px ">
    <ul class="img">{% load static %}
        <li><img src="{% static 'F:\yogita\IT certi\django python\my\static\images\contact.jpg' %}" 
            class="img-fluid" alt="Contact Us" >
        </li>{% load static %}
    </ul>
    <h1 class="head" STYLE="margin: 25px 0px 0px 80px">Contact Us</h1>

    <div class="entry-content" STYLE="margin: 25px 0px 0px 80px">
        <p><strong>PRINCIPAL</strong>: Sr. Ruth Furtado<br>
<strong>MANAGER</strong>: Sr. Jessie John</p>
<p><strong>School Hours</strong><br>
7.15am to 1.30 pm</p>
<p><strong>Principal’s Office Hours</strong><br>
7.45am to 8.45am on school days or by special appointment</p>
<p><strong>Contact Phone No.</strong><br>
(91) (22) 2444 9322<br>
N.B. No school business will be transacted outside office hours, or on Thursdays, Sundays and holidays.</p>
<p><strong>Address</strong>:<br>
Canossa High School,<br>
M.M. Chotani Road, Mahim,<br>
Mumbai – 400016. India</p>
        </div>

    </div>

{% comment %} #########################---FOOTER---######################### {% endcomment %}
<footer class="et-l et-l--footer" STYLE="width:1350px; background:#495057">
    <div class="et_builder_inner_content et_pb_gutters3" >
<div class="et_pb_section et_pb_section_0_tb_footer et_pb_with_background et_section_regular" >
        
        <div class="et_pb_row et_pb_row_0_tb_footer">
        <div class="et_pb_column et_pb_column_1_3 et_pb_column_0_tb_footer  
        et_pb_css_mix_blend_mode_passthrough">
        
        <div class="et_pb_module et_pb_sidebar_0_tb_footer et_pb_widget_area clearfix 
        et_pb_widget_area_left et_pb_bg_layout_light">
        
        <div id="nav_menu-2" class="fwidget et_pb_widget widget_nav_menu">
            <h4 class="title" STYLE="margin: 0px 400px 20px 100px">Pages</h4><div class="menu-footer-menu-container"><ul id="menu-footer-menu-1" 
                class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home 
                menu-item-675" STYLE="margin: 0px 400px 20px 100px" ><a href="/home">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-676" STYLE="margin: 0px 400px 20px 100px">
<a href="/AboutUs">About Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-677" STYLE="margin: 0px 400px 20px 100px">
<a href="/AboutUs">Vision, Mission &amp; Anthem</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2084" STYLE="margin: 0px 400px 20px 100px">
<a href="/ContactUs">Contact Us</a></li>
</ul></div></div>
    </div>
    </div><div class="et_pb_column et_pb_column_1_3 et_pb_column_1_tb_footer 
     et_pb_css_mix_blend_mode_passthrough">
        
        <div class="et_pb_module et_pb_sidebar_1_tb_footer 
        et_pb_widget_area clearfix et_pb_widget_area_left et_pb_bg_layout_light">
        
    </div>
    </div><div class="et_pb_column et_pb_column_1_3 et_pb_column_2_tb_footer 
     et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty">
        
    </div>
    </div>
    </div><div class="et_pb_section et_pb_section_1_tb_footer et_pb_with_background et_section_regular">
        
        <div class="et_pb_row et_pb_row_1_tb_footer" >
        <div class="et_pb_column et_pb_column_4_4 et_pb_column_3_tb_footer  et_pb_css_mix_blend_mode_passthrough
         et-last-child">
        
        <div class="et_pb_module et_pb_text et_pb_text_0_tb_footer et_clickable 
         et_pb_text_align_left et_pb_bg_layout_light">
        <div class="my-0" my=0 style="background:black; margin: 0px 0px 0px 00px">Copyright @2021.All Rights Reserved. Powered by UniApply – 
            A product of NoPaperForms solutions Pvt. Ltd.</div>
    </div>
    </div>
    </div>
    </div>	
</div>
</footer>


{% endblock body%}


