{% extends 'base.html' %}


{% block title %} 
School Management System
{% endblock title %}


{% block body%} {% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<div class= 'container' my=20 style= "width:80">
    <div id="wrapper" style="margin:50px 0px 0px 300px; width:45%">
    <div id="login" class="animate form">
        <form  action="/student" method="POST" style="width: 80%; padding: 12px 20px; margin: 8px 0;
        display: inline-block; background: rgba(76, 175, 80, 0.1)" autocomplete="on"> 
        {% csrf_token %}
            <h1>Teacher Log in</h1> 
            <hr>
            <p> 
                <label for="username" class="uname" data-icon="u" > Email or username </label>
                <input id="username" name="username"  class="form-control" style="width:300px" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
            </p>
            <p> 
                <label for="password" class="youpasswd" data-icon="p"> Password </label>
                <input id="password" name="password" required="required" class="form-control" style="width:300px" type="password" placeholder="eg. X8df!90EO" /> 
            </p>
            <p class="keeplogin"> 
                <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
                <label for="loginkeeping">Keep me logged in</label>
            </p>
            <p class="login button" onclick="login()"> 
                <input type="submit" class="btn btn-primary" value="Login" /> 
            </p>
            <p class="change_link" id="change">
                New Registration<a  href="/Teacher" class="to_register">- here</a>
            </p>
        </form> 
    </div></div>

    <script  type="text/javascript" src="javascript.js">
	
        {% comment %} ######----LOG INN------####### {% endcomment %}
        function login()
        {{% for info in data%}
            var unames = {{info.usernamesignup}}
            var emls = {{info.emailsignup}}
            var pwds = {{info.passwordsignup}}
          {% end for %}
            var uname = document.getElementById("username").value;
            var pwd = document.getElementById("password").value;
            if(uname == unames or uname == emls)
            {
                alert("Invalid Username");
            }
            else if(pwd==pwds)
            {
                alert("Invalid Password");
            }
            else
            {
                alert('Welcome', uname);
                window.open("http://127.0.0.1:8000/student");
                <h6 class="login" style="margin:-40px 300px 0px 910px;">Welcome {uname}<h6>
                <button class='btn'><a>Logout</a></button>
            }
        }
    </script>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script> {% load static %}
{% endblock body%}
